node_modules/
jspm_packages/
bower_components/
web_modules/

.pnp
.pnp.*
.pnp.js

.pnpm-store/
.npm

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.next/
out/

dist/
build/
.output/

.nuxt/
.svelte-kit/

.vuepress/dist
**/.vitepress/dist

.serverless/
.docusaurus

build/Release

.cache/
.parcel-cache/

.vite/
**/.vitepress/cache

.nyc_output/
.grunt/

.fusebox/
.dynamodb/
.firebase/

.eslintcache
.stylelintcache

.temp/

coverage/
*.lcov


*.tsbuildinfo
next-env.d.ts


.env
.env.*
!.env.example

logs/
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

pids/
*.pid
*.pid.lock
*.seed

report.*.*.*.*.json

*.tgz
*.zip
*.tar.gz

**/*.bun
**/*.trace

.DS_Store
.vscode-test/

*.pem
.lock-wscript
.tern-port
.node_repl_history
.yarn-integrity

.vercel

package-lock.json