# Application
PORT=4000
NODE_ENV=development

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cockatiel

# Authentication
ACCESS_JWT_SECRET=your-access-jwt-secret
REFRESH_JWT_SECRET=your-refresh-jwt-secret

# CORS

# Comma-separated list of allowed frontend origins.
# Example:
# ORIGINS=http://localhost:3000,http://127.0.0.1:3000
ORIGINS=http://localhost:3000